<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css" />
		<link rel="img" href="/public/assets/img/salmonBurger.png">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/assets/js/burgers.js"></script>
		<title>Burgers: Eat 'Em Up!</title>
	</head>
	<body>
		{{{ body }}}
	</body>

	<div class="container">

		</br>

		<center>
			<div class= "row">
				<img src="/public/assets/img/tofuBurger.png">
			</div>
		</center>

		  <div class="row">
          <!-- textarea -->
          <div class="col-md-3"></div> 

		  <!-- Burger Order form -->
          <div class="form-group col-md-6">
            <center><label for="order-new-burger" class="title-pte">Order a Burger!</label></center>
            <textarea class="form-control" columns="8" rows="4" id="order-new_burger" name="burger_name"></textarea>
          </div>

          <!-- textarea -->
          <div class="col-md-3"></div> 
        </div>
      
        <!-- Button -->
        <center>
          <button id="submit-btn" type="submit" class="btn">Order Now!</button>
        </center>

      </form>

      <br>

    </div>
	</div>
</html>
