<h1>Eat-A-Burger!</h1>

<h2>Burgers that are NOT Eaten!</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are EATEN!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>ADD a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bur">Burger Name:</label>
    <input type="text" id="bur" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="eated" value="1" checked> Devoured!<br>
    <input type="radio" name="not_eaten" value="0"> Not Eaten!<br>
  </div>

  <button type="submit">Devour It</button>
</form>
