<div class="page-name">

<h1>Eat-A-Burger!</h1>

</div>
<!-- Page Container -->
	<div class="container">

		<br>

		<!-- Burger Image -->
		<center>
			<div class="row">
				<img class="img" src="/assets/img/tofuBurger.png">
				<img class="img" src="/assets/img/salmonBurger.png">
			</div>
		</center>

		<br>

<!--Left side burgers are ready to be eaten-->
<div class="row">
<center>
<div class="col-md-6">
<h3 class="title-pte">Burgers: Prepared to Eat!</h3>
<div id="prepared-to-eat">
</center>
</div>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

</div>
</div>


		<h4>ADD a Burger</h4>
		<form class="create-form">

			<div class="form-group">
				<label for="bur">Burger Name:</label>
				<input type="text" id="bur" name="name">
			</div>

			<div class="form-group">

				<button type="submit">Devour It</button>
				
			</div>
		</form>

	</div>




<!--Right side Devoured burgers-->
<div >
<h3 class="title-eaten">Burgers: EATEN!</h3>
<div id="eaten">

<ul>
	
  {{#each burgers}}
    {{#if devoured}}
      {{> burger-block devoured=false}}
    {{/if}}
  {{/each}}
 
</ul>
</div>
</div>






