body.container {
    margin: auto;
    padding: 15px;
    background-color: gold;
}
.page-name{
    color: rgb(84, 2, 160);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
}
.img {
    width: 30%;
    border: solid white 8px;
}
.title-pte {
    color: rgb(12, 30, 70);
    font-size: 16px;
    text-align: left;
}
.title-eaten {
    color: rgb(196, 24, 1);
    font-size: 16px;
    text-align: right;
}
li {
    padding: 5px;
    margin: 5px;
    background: #ffffff;
    
  }
  ul {
      list-style: none;
  }
  .create-form {
    padding: 15px;
    margin: 5px;
    background: light brown;
    border: 3px black solid;
  }
  .form-group {
    margin-bottom: 25px;
  }
  .message {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; 
    height:45%;
    bottom: 0; 
    display: block;
    position: absolute;
    background-color: rgba(248, 244, 16);
    color: #fff;
    padding: 0.5em;
  }